body {
    margin: 0;
    overflow: hidden;
}

p {
    margin: 0px;
}

#loading {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.fixed {
    color: #ffffff;
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 10px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
}